.split-pane > .split-pane-divider {  
    -fx-padding: 0 0.15em 0 0.15em;  
} 

.table-view .column-header .label{
    -fx-alignment:center-left;
}

/*	style class for buttons */

.stdButton {
  -fx-background-color:transparent;
}

.stdButton:hover {
  -fx-background-color: #dae7f3;
}